@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'neodgm';
  src: url('./fonts/neodgm.woff2');
}

@layer utilities {
  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
}

#phaser canvas {
  width: 100%;
}
